@using ThuVien.Areas.Manager.ViewModels
@model SachIndexVm

@{
    ViewData["Title"] = "Danh sách";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";

    var masSort = (Model.SortOrder == "mas") ? "mas_desc" : "mas";
    var tensSort = (Model.SortOrder == "tens") ? "tens_desc" : "tens";


    var tangList = new List<int>();
    tangList.Add(1);
    tangList.Add(2);
    tangList.Add(3);

    var khuList = new List<int>();
    khuList.Add(1);
    khuList.Add(2);
    khuList.Add(3);

    var keList = new List<int>();
    keList.Add(1);
    keList.Add(2);
    keList.Add(3);
}

@*Modal thêm*@
<div class="modal fade" id="them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm sách</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" asp-area="Manager" asp-controller="Sach" asp-action="Them">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for=sach.TenSach>Tên sách</label>
                        <input class="form-control" asp-for=sach.TenSach placeholder="Tên sách">
                        <span asp-validation-for="sach.TenSach" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.MaTG>Tác giả</label>
                        <select class="form-control" asp-for=sach.MaTG asp-items="@(new SelectList(ViewBag.laytacgia, "MaTG", "TenTG"))">
                        </select>
                        <span asp-validation-for="sach.MaTG" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.MaTL>Thể loại</label>
                        <select class="form-control" asp-for=sach.MaTL asp-items="@(new SelectList(ViewBag.laytheloai, "MaTL", "TenTL"))">
                        </select>
                        <span asp-validation-for="sach.MaTL" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.MaNXB>Nhà xuất bản</label>
                        <select class="form-control" asp-for=sach.MaNXB asp-items="@(new SelectList(ViewBag.laynxb, "MaNXB", "TenNXB"))">
                        </select>
                        <span asp-validation-for="sach.MaNXB" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.GiaBia>Giá bìa</label>
                        <input class="form-control" asp-for=sach.GiaBia placeholder="Giá bìa">
                        <span asp-validation-for="sach.GiaBia" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.Khu>Khu</label>
                        <select class="form-control" asp-for=sach.Khu asp-items="@(new SelectList(khuList))">
                            <option selected disabled>Chọn khu</option>
                        </select>
                        <span asp-validation-for="sach.Khu" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.Tang>Tầng</label>
                        <select class="form-control" asp-for=sach.Tang asp-items="@(new SelectList(tangList))">
                            <option selected disabled>Chọn tầng</option>
                        </select>
                        <span asp-validation-for="sach.Tang" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=sach.Ke>Kệ</label>
                        <select class="form-control" asp-for=sach.Ke asp-items="@(new SelectList(keList))">
                            <option selected disabled>Chọn kệ</option>
                        </select>
                        <span asp-validation-for="sach.Ke" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="sach.SachImage">Hình ảnh</label><br />
                        <input asp-for="sach.SachImage" type="file">
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{ if (ViewBag.Sach != 0)
    {
        switch (ViewBag.Sach)
        {
            case 1:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Thêm thành công</span>
                    </div>
                </div>
                <hr />
                break;
            case 2:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Thay đổi thông tin thành công</span>
                    </div>
                </div>
                <hr />
                break;
            case 3:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Xóa thành công</span>
                    </div>
                </div>
                <hr />
                break;
            case 4:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">Thêm Thất Bại</span>
                    </div>
                </div>
                <hr />
                break;
            case 5:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">Cập nhật Thất Bại</span>
                    </div>
                </div>
                <hr />
                break;
        }
    }
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
    </div>
    <div class="card-body">
        @*Model thêm của Nam*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#them">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-sortOrder="@masSort"
                               asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Sachs[0].MaSach)
                            </a>
                        </th>
                        <th>
                            <a asp-route-sortOrder="@tensSort"
                               asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Sachs[0].TenSach)
                            </a>
                        </th>
                        <th>Hình ảnh</th>
                        <th>Tác giả</th>
                        <th>Thể loại</th>
                        <th>Nhà xuất bản</th>
                        <th>Giá bìa</th>
                        <th>Khu</th>
                        <th>Tầng</th>
                        <th>Kệ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sach in Model.Sachs)
                    {
                        <tr>
                            <td>@sach.MaSach</td>
                            <td>@sach.TenSach</td>
                            <td><img src="@(string.IsNullOrEmpty(sach.SachImageUrl) ? "/sach/noimage.png" : sach.SachImageUrl)" height="100" /></td>
                            <td>@sach.TenTG</td>
                            <td>@sach.TenTL</td>
                            <td>@sach.TenNXB</td>
                            <td>@String.Format("{0:0,0}", @sach.GiaBia)</td>
                            <td>@sach.Khu</td>
                            <td>@sach.Tang</td>
                            <td>@sach.Ke</td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" data-target="#sua-@sach.MaSach" a><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#xoa-@sach.MaSach"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>

                        @*Modal xóa*@
                        <div class="modal fade" id="xoa-@sach.MaSach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa sách này?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Xoa" asp-controller="Sach">

                                            <div class="form-group">
                                                <label asp-for="@sach.MaSach">Mã sách</label>
                                                <input readonly="readonly" class="form-control" asp-for="@sach.MaSach" value="@sach.MaSach">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.TenSach">Tên sách</label>
                                                <input readonly="readonly" class="form-control" asp-for="@sach.TenSach" value="@sach.TenSach">
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Modal sửa*@
                        <div class="modal fade" id="sua-@sach.MaSach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật sách</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Sua" asp-controller="Sach">
                                            <input type="hidden" class="form-control" asp-for="@sach.MaSach" value="@sach.MaSach">
                                            <div class="form-group">
                                                <label asp-for="@sach.TenSach">Tên sách</label>
                                                <input class="form-control" asp-for="@sach.TenSach" value="@sach.TenSach" placeholder="Tên sách">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.MaTG">Tác giả</label>
                                                <select class="form-control" asp-for=@sach.MaTG asp-items="@(new SelectList(ViewBag.laytacgia, "MaTG", "TenTG"))">
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.MaTL">Thể loại</label>
                                                <select class="form-control" asp-for=@sach.MaTL asp-items="@(new SelectList(ViewBag.laytheloai, "MaTL", "TenTL"))">
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.MaNXB">Nhà xuất bản</label>
                                                <select class="form-control" asp-for=@sach.MaNXB asp-items="@(new SelectList(ViewBag.laynxb, "MaNXB", "TenNXB"))">
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.GiaBia">Giá bìa</label>
                                                <input class="form-control" asp-for="@sach.GiaBia" value="@sach.GiaBia" placeholder="Giá bìa">
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.Khu">Khu</label>
                                                <select class="form-control" asp-for=@sach.Khu asp-items="@(new SelectList(khuList))">
                                                    <option disabled>Chọn khu</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@sach.Tang">Tầng</label>
                                                <select class="form-control" asp-for=@sach.Tang asp-items="@(new SelectList(tangList))">
                                                    <option disabled>Chọn tầng</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@sach.Ke">Kệ</label>
                                                <select class="form-control" asp-for=@sach.Ke asp-items="@(new SelectList(keList))">
                                                    <option disabled>Chọn kệ</option>
                                                </select>
                                            </div>

                                            @*Bug hình ảnh*@

                                            <div class="form-group" hidden>
                                                <label asp-for="@sach.SachImageUrl">Hình ảnh</label>
                                                <input class="form-control" asp-for="@sach.SachImageUrl" value="@sach.SachImageUrl" placeholder="Hình ảnh">
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.Sachs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sachs.HasNextPage ? "disabled" : "";
}

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Sachs.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Sachs.PageIndex +1)">Sau</a>