@using ThuVien.Areas.Manager.ViewModels
@model DiaDiemVM

@{ ViewData["Title"] = "Danh sách địa điểm";

 }

@* Trang địa điểm # An*@

<div class="modal fade" id="themDiaDiem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm địa điểm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DiaDiem">

                    <div class="form-group">
                        <label asp-for=DiaDiem.TenDiaDiem>Tên địa điểm</label>
                        <input class="form-control" asp-for=DiaDiem.TenDiaDiem placeholder="Tên địa điểm">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách địa điểm</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themDiaDiem">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DiaDiems[0].MaDiaDiem)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DiaDiems[0].TenDiaDiem)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var diaDiem in Model.DiaDiems)
                    {
                        <tr>
                            <td>@diaDiem.MaDiaDiem</td>
                            <td>@diaDiem.TenDiaDiem</td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" data-target="#sua-@diaDiem.MaDiaDiem" a><i class="far fa-edit"></i></button>
                            </td>
                        </tr>
                        //Sửa NV
                        <div class="modal fade" id="sua-@diaDiem.MaDiaDiem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật địa điểm</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DiaDiem">
                                            <div class="form-group">
                                                <label asp-for="@diaDiem.MaDiaDiem">Mã địa điểm</label>
                                                <input readonly="readonly" class="form-control" asp-for="@diaDiem.MaDiaDiem">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@diaDiem.TenDiaDiem">Tên địa điểm</label>
                                                <input class="form-control" asp-for="@diaDiem.TenDiaDiem" placeholder="Tên địa điểm">
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.DiaDiems.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DiaDiems.HasNextPage ? "disabled" : ""; }

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DiaDiems.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DiaDiems.PageIndex +1)">Sau</a>
