@using ThuVien.Areas.Manager.ViewModels
@model DoanDuLich_KhachVM

@{ ViewData["Title"] = "Danh sách đoàn chi tiết khách";

}

<div class="modal fade" id="themNhanVien" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DoanDuLich">
                    
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách nhân viên</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themNhanVien">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khaches[0].MaKhachHang)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].HoTen)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].SoCMND)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].DiaChi)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].GioiTinh)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].SDT)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.Khaches[0].VaiTro)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
               @foreach (var khach in Model.Khaches)
                {
                    <tr>
                        <td>@khach.MaKhachHang</td>
                        <td>@khach.HoTen</td>
                        <td>@khach.SoCMND</td>
                        <td>@khach.DiaChi</td>
                        <td>@khach.GioiTinh</td>
                        <td>@khach.SDT</td>
                        <td>@khach.VaiTro</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#sua-@khach.MaKhachHang"><i class="far fa-edit"></i></button>
                        </td>
                    </tr>
                    
                        //Sửa
                        <div class="modal fade" id="sua-@khach.MaKhachHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật đoàn</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DoanDuLich">
                                            
                                            <div class="modal-footer">
                                                <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.Khaches.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Khaches.HasNextPage ? "disabled" : ""; }

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Khaches.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Khaches.PageIndex +1)">Sau</a>