@using ThuVien.Areas.Manager.ViewModels
@model DoanDuLichVM

@{ ViewData["Title"] = "Danh sách đoàn";

}

<div class="modal fade" id="themDoan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm đoàn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DoanDuLich">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="DoanDuLich.TenDoan">Tên đoàn</label>
                        <input class="form-control" asp-for="DoanDuLich.TenDoan" placeholder="Tên đoàn">
                    </div>
                    <div class="form-group">
                        <label asp-for="DoanDuLich.MaTour">Tên tour</label>
                        <select class="form-control" asp-for="DoanDuLich.MaTour" asp-items="@(new SelectList(ViewBag.Tour, "MaTour", "TenGoi"))"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoanDuLich.NgayKhoiHanh">Ngày khởi hành</label>
                        <input class="form-control" asp-for="DoanDuLich.NgayKhoiHanh">
                    </div>
                    <div class="form-group">
                        <label asp-for="DoanDuLich.NgayKetThuc">Ngày kết thúc</label>
                        <input class="form-control" asp-for="DoanDuLich.NgayKhoiHanh">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đoàn</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themDoan">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].MaDoan)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].TenTour)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].TenDoan)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].NgayKhoiHanh)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].NgayKetThuc)
                            </a>
                        </th>
                        <th>
                            <a>
                                @Html.DisplayNameFor(model => model.DoanDuLiches[0].DoanhThu)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doanDuLich in Model.DoanDuLiches)
                    {
                        <tr>
                            <td>@doanDuLich.MaDoan</td>
                            <td>@doanDuLich.TenTour</td>
                            <td>@doanDuLich.TenDoan</td>
                            <td>@doanDuLich.NgayKhoiHanh</td>
                            <td>@doanDuLich.NgayKetThuc</td>
                            <td>@String.Format("{0:n0}", @doanDuLich.DoanhThu)</td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" data-target="#sua-@doanDuLich.MaDoan"><i class="far fa-edit"></i></button>
                                <button class="btn btn-success" data-toggle="modal" data-target="#ndt-@doanDuLich.MaDoan"><i class="fas fa-file-alt"></i></button>
                                <a class="btn btn-success" asp-area="Manager" asp-action="Index" asp-controller="ChiTietDoan" asp-route-madoan="@doanDuLich.MaDoan" asp-route-list="khachhang"><i class="fas fa-users"></i></a>
                                <a class="btn btn-success" asp-area="Manager" asp-action="Index" asp-controller="ChiTietDoan" asp-route-madoan="@doanDuLich.MaDoan" asp-route-list="nhanvien"><i class="fas fa-user-tie"></i></a>
                                <a class="btn btn-success" asp-area="Manager" asp-action="Index" asp-controller="ChiTietDoan" asp-route-madoan="@doanDuLich.MaDoan" asp-route-list="chiphi"><i class="fas fa-dollar-sign"></i></a>
                            </td>
                        </tr>

                        //Sửa
                        <div class="modal fade" id="sua-@doanDuLich.MaDoan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật đoàn</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DoanDuLich">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.MaDoan">Mã đoàn</label>
                                                <input readonly="readonly" class="form-control" asp-for="@doanDuLich.MaDoan" placeholder="Mã đoàn">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.TenDoan">Tên đoàn</label>
                                                <input class="form-control" asp-for="@doanDuLich.TenDoan" placeholder="Tên đoàn">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.MaTour">Tên tour</label>
                                                <select class="form-control" asp-for="@doanDuLich.MaTour" asp-items="@(new SelectList(ViewBag.Tour, "MaTour", "TenGoi"))"></select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NgayKhoiHanh">Ngày khởi hành</label>
                                                <input class="form-control" asp-for="@doanDuLich.NgayKhoiHanh">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NgayKetThuc">Ngày kết thúc</label>
                                                <input class="form-control" asp-for="@doanDuLich.NgayKetThuc">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-success">Sửa</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        //NDT
                        <div class="modal fade" id="ndt-@doanDuLich.MaDoan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật nội dung đoàn</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form method="POST" asp-area="Manager" asp-action="NoiDungTour" asp-controller="DoanDuLich">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NoiDungTour.MaDoan">Mã đoàn</label>
                                                <input readonly="readonly" class="form-control" asp-for="@doanDuLich.NoiDungTour.MaDoan" value="@doanDuLich.MaDoan" placeholder="Mã đoàn">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NoiDungTour.HanhTrinh">Hành trình</label>
                                                <input class="form-control" asp-for="@doanDuLich.NoiDungTour.HanhTrinh" placeholder="Hành trình">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NoiDungTour.KhachSan">Khách sạn</label>
                                                <input class="form-control" asp-for="@doanDuLich.NoiDungTour.KhachSan" placeholder="Khách sạn">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@doanDuLich.NoiDungTour.DiaDiemThamQuan">Điểm tham quan</label>
                                                <input class="form-control" asp-for="@doanDuLich.NoiDungTour.DiaDiemThamQuan">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-success">Sửa</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.DoanDuLiches.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DoanDuLiches.HasNextPage ? "disabled" : ""; }

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DoanDuLiches.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DoanDuLiches.PageIndex +1)">Sau</a>