@using ThuVien.Areas.Manager.ViewModels
@model DocGiaIndexVm
@{ ViewData["Title"] = "Danh sách độc giả";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
    var tentlSort = (Model.SortOrder == "tentl") ? "tentl_desc" : "tentl"; }


<div class="modal fade" id="themDocGia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DocGia">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for=docgia.HoDG>Họ độc giả</label>
                                <input class="form-control" asp-for="docgia.HoDG" placeholder="Họ độc giả">
                                <span asp-validation-for="docgia.HoDG" class="text-danger"></span>

                            </div>
                            <div class="col">
                                <label asp-for=docgia.TenDG>Tên độc giả</label>
                                <input class="form-control" asp-for=docgia.TenDG placeholder="Tên độc giả">
                                <span asp-validation-for="docgia.TenDG" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @{ Model.docgia.DoBDG = new DateTime(2000, 1, 1);}
                        <label asp-for=docgia.DoBDG>Ngày sinh</label>
                        <input class="form-control" asp-for=docgia.DoBDG placeholder="@Model.docgia.DoBDG; ">
                        <span asp-validation-for="docgia.DoBDG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="docgia.EmailDG">Email</label>
                        <input class="form-control" asp-for=docgia.EmailDG placeholder="Email">
                        <span asp-validation-for="docgia.EmailDG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="docgia.DiaChiDG">Đia chỉ</label>
                        <input class="form-control" asp-for=docgia.DiaChiDG placeholder="Địa chỉ">
                        <span asp-validation-for="docgia.DiaChiDG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @{ Model.docgia.NgayDK = DateTime.Now;
                                Model.docgia.NgayHetHanDK = DateTime.Now.AddYears(1);}
                            <div class="col">
                                <label asp-for=docgia.NgayDK>Ngày đăng ký</label>
                                <input class="form-control" asp-for=docgia.NgayDK placeholder="@Model.docgia.NgayDK">
                            </div>
                            <div class="col">
                                <label asp-for=docgia.NgayHetHanDK>Ngày hết hạn</label>
                                <input class="form-control" asp-for=docgia.NgayHetHanDK placeholder="@Model.docgia.NgayHetHanDK">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{ if (ViewBag.DocGia != 0)
    {
        switch (ViewBag.DocGia)
        {
            case 1:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Thêm thành công</span>
                    </div>
                </div>
                <hr/>
                break;
            case 2:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Thay đổi thông tin thành công</span>
                    </div>
                </div>
                <hr />
                break;
            case 3:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-success">Xóa thành công</span>
                    </div>
                </div>
                <hr />
                break;
            case 4:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">Thêm Thất Bại</span>
                    </div>
                </div>
                <hr />
                break;
            case 5:
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">Cập nhật Thất Bại</span>
                    </div>
                </div>
                <hr />
                break;
        }            
    } 
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Danh sách độc giả</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themDocGia">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET" id="formTiemKiem">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center">
                        <th>Mã độc giả</th>
                        <th>Họ</th>
                        <th>
                            <a asp-route-sortOrder="@tentlSort"
                               asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DocGias[0].TenDG)
                            </a>
                        </th>
                        <th>Ngày sinh</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Ngày đăng ký</th>
                        <th>Ngày hết hạn</th>
                        <th>Thao tác</th>
                    <tr />
                </thead>
                <tbody>
                    @foreach (var docgia in Model.DocGias)
                    {
                        <tr>
                            <td>@docgia.MaDG</td>
                            <td>@docgia.HoDG</td>
                            <td>@docgia.TenDG</td>
                            <td>@{@docgia.DoBDG.ToShortDateString(); }</td>
                            <td>@docgia.EmailDG</td>
                            <td>@docgia.DiaChiDG</td>
                            <td>@{@docgia.NgayDK.ToShortDateString(); }</td>
                            <td>@{@docgia.NgayHetHanDK.ToShortDateString(); }</td>
                            <td>
                                <div style="width:85px;height:32px">
                                    <button style="" class="btn btn-success" data-toggle="modal" data-target="#suaDocGia-@docgia.MaDG"><i class="far fa-edit" style="width:14px"></i></button>
                                    <button style="" class="btn btn-danger" data-toggle="modal" data-target="#xoaDocGia-@docgia.MaDG"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="suaDocGia-@docgia.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="color:cornflowerblue">Thông tin độc giả</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DocGia">
                                            <div class="form-group">
                                                <label asp-for="@docgia.MaDG" style="color:black">Mã độc giả</label>
                                                <input readonly="readonly" class="form-control" asp-for="@docgia.MaDG" value="@docgia.MaDG">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label asp-for="@docgia.HoDG" style="color:black">Họ độc giả</label>
                                                        <input class="form-control" asp-for="@docgia.HoDG" placeholder="Họ độc giả">
                                                    </div>
                                                    <div class="col">
                                                        <label asp-for="@docgia.TenDG" style="color:black">Tên độc giả</label>
                                                        <input class="form-control" asp-for="@docgia.TenDG" placeholder="Tên độc giả">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@docgia.DoBDG" style="color:black">Ngày sinh</label>
                                                <input class="form-control" asp-for="@docgia.DoBDG" placeholder="@DateTime.Now">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@docgia.EmailDG" style="color:black">Email</label>
                                                <input class="form-control" asp-for="@docgia.EmailDG" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@docgia.DiaChiDG" style="color:black">Đia chỉ</label>
                                                <input class="form-control" asp-for="@docgia.DiaChiDG" placeholder="Địa chỉ">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">

                                                    <div class="col">
                                                        <label asp-for="@docgia.NgayDK" style="color:black">Ngày đăng ký</label>
                                                        <input class="form-control" asp-for="@docgia.NgayDK" placeholder="@docgia.NgayHetHanDK">
                                                    </div>
                                                    <div class="col">
                                                        <label asp-for="@docgia.NgayHetHanDK" style="color:black    ">Ngày hết hạn</label>
                                                        <input class="form-control" asp-for="@docgia.NgayHetHanDK" placeholder="@docgia.NgayHetHanDK">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Thoát</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="xoaDocGia-@docgia.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Delete" asp-controller="DocGia">
                                            <input type="hidden" asp-for="@docgia.MaDG" />
                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                            <button class="btn btn-dark" type="button" data-dismiss="modal">Hủy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.DocGias.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DocGias.HasNextPage ? "disabled" : ""; }
<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex -1)">Previous</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex +1)">Next</a>
<script>
    function validate() {
        var hoDG = document.getElementById('docgia_HoDG');
        var tenDG = document.getElementById('docgia_tenDG');
        var emailDG = document.getElementById('docgia_emailDG');
        var diachi = document.getElementById('docgia_diachiDG');
        var error_hoDG = document.getElementById('error_hoDG');
        var error_tenDG = document.getElementById('error_tenDG');
        var error_emailDG = document.getElementById('error_emailDG');
        var error_diachiDG = document.getElementById('error_diachiDG');
        var listt = [hoDG, tenDG, emailDG, diachi];
        var listter = [error_hoDG, error_tenDG, error_emailDG, error_diachiDG];
        for (var i = 0; i < listt.length; i++) {
            if (listt[i].value == "") {
                listter[i].innerHTML = "Hãy nhập dữ liệu";

            } else {
                listter[i].innerHTML = "";
            }
        }
        if (hoDG.value == "" || tenDG.value == "" || emailDG.value == "" || diachi.value == "") {
            return false;
        }
        else {
            return true;
        }
    }
</script>