@using ThuVien.Areas.Manager.ViewModels
@model TourDuLichVM

@{ ViewData["Title"] = "Danh sách tour";

 }


<div class="modal fade" id="themTour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm tour</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="TourDuLich">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Tour.TenGoi">Tên tour</label>
                        <input class="form-control" asp-for="Tour.TenGoi" placeholder="Tên tour">
                    </div>
                    <div class="form-group">
                        <label asp-for="Tour.DacDiem">Đặc điểm</label>
                        <input class="form-control" asp-for="Tour.DacDiem" placeholder="Đặc điểm">
                    </div>
                    <div class="form-group">
                        <label asp-for="Tour.MaLoaiHinh">Loại hình</label>
                        <select class="form-control" asp-for="Tour.MaLoaiHinh" asp-items="@(new SelectList(ViewBag.LoaiHinh, "MaLoaiHinh", "TenLoaiHinh"))"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tour</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themTour">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Tours[0].MaTour)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Tours[0].TenGoi)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Tours[0].DacDiem)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Tours[0].TenLoaiHinh)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tour in Model.Tours)
                    {
                    <tr>
                        <td>@tour.MaTour</td>
                        <td>@tour.TenGoi</td>
                        <td>@tour.DacDiem</td>
                        <td>@tour.TenLoaiHinh</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#sua-@tour.MaTour" a><i class="far fa-edit"></i></button>
                            <a class="btn btn-success" asp-area="Manager" asp-action="Index" asp-controller="GiaTour" asp-route-matour="@tour.MaTour"><i class="fas fa-dollar-sign"></i></a>
                            <a class="btn btn-success" asp-area="Manager" asp-action="Index" asp-controller="DiemThamQuan" asp-route-matour="@tour.MaTour"><i class="fas fa-plane"></i></a>
                        </td>
                    </tr>
                        //Sửa NV
                        <div class="modal fade" id="sua-@tour.MaTour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật tour</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="TourDuLich">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label asp-for="@tour.MaTour">Mã tour</label>
                                                <input readonly="readonly" class="form-control" asp-for="@tour.MaTour" placeholder="Mã tour">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@tour.TenGoi">Tên tour</label>
                                                <input class="form-control" asp-for="@tour.TenGoi" placeholder="Tên tour">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@tour.DacDiem">Đặc điểm</label>
                                                <input class="form-control" asp-for="@tour.DacDiem" placeholder="Đặc điểm">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@tour.MaLoaiHinh">Loại hình</label>
                                                <select class="form-control" asp-for="@tour.MaLoaiHinh" asp-items="@(new SelectList(ViewBag.LoaiHinh, "MaLoaiHinh", "TenLoaiHinh"))"></select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-success">Sửa</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.Tours.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Tours.HasNextPage ? "disabled" : ""; }

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Tours.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Tours.PageIndex +1)">Sau</a>
