@using ThuVien.Areas.Manager.ViewModels
@using Application.DTOs.Enum 
@model KhachVM

@{ ViewData["Title"] = "Danh sách khách hàng";

 }

@* Trang khách hàng # An*@

<div class="modal fade" id="themKhach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm khách hàng</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="Khach">

                    <div class="form-group">
                        <label asp-for=Khach.HoTen>Họ Tên Khách Hàng</label>
                        <input class="form-control" asp-for=Khach.HoTen placeholder="Họ Tên Khách Hàng">
                    </div>
                    <div class="form-group">
                        <label asp-for="Khach.SoCMND">CMND</label>
                        <input type="number" class="form-control" asp-for="Khach.SoCMND" placeholder="Số CMND">
                    </div>
                    <div class="form-group">
                        <label asp-for="Khach.DiaChi">Địa Chỉ</label>
                        <input class="form-control" asp-for="Khach.DiaChi"  placeholder="Địa Chỉ">
                    </div>
                    <div class="form-group">
                        <label asp-for="Khach.GioiTinh">Giới Tính</label>
                        <select class="form-control" name="Khach.GioiTinh" id="Khach.GioiTinh" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option selected="selected" value="">-- Chọn giới tính --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Khach.SDT">SĐT</label>
                        <input class="form-control" asp-for="Khach.SDT"  placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label asp-for="Khach.QuocTich">Quốc Tịch</label>
                        <input class="form-control" asp-for="Khach.QuocTich"  placeholder="Quốc Tịch">
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#themKhach">Thêm</button>
                </p>
            </div>
            <div class="col-md-4">
                <form method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" asp-for="SearchString" />
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].MaKhachHang)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].HoTen)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].SoCMND)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].DiaChi)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].GioiTinh)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].SDT)
                            </a>
                        </th>
                        <th>
                            <a asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.Khachs[0].QuocTich)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var khach in Model.Khachs)
                    {
                    <tr>
                        <td>@khach.MaKhachHang</td>
                        <td>@khach.HoTen</td>
                        <td>@khach.SoCMND</td>
                        <td>@khach.DiaChi</td>
                        <td>@khach.GioiTinh</td>
                        <td>@khach.SDT</td>
                        <td>@khach.QuocTich</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#sua-@khach.MaKhachHang" a><i class="far fa-edit"></i></button>
                        </td>
                    </tr>
                        //Sửa NV
                        <div class="modal fade" id="sua-@khach.MaKhachHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật khách hàng</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="Khach">
                                            <div class="form-group">
                                                <label asp-for="@khach.MaKhachHang">Mã khách hàng</label>
                                                <input readonly="readonly" class="form-control" asp-for="@khach.MaKhachHang">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.HoTen">Họ & Tên</label>
                                                <input class="form-control" asp-for="@khach.HoTen" placeholder="Tên khách hàng">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.SoCMND">CMND</label>
                                                <input type="number" class="form-control" asp-for="@khach.SoCMND" placeholder="Số CMND">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.DiaChi">Địa Chỉ</label>
                                                <input class="form-control" asp-for="@khach.DiaChi" placeholder="Địa Chỉ">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.GioiTinh">Giới Tính</label>
                                                <select class="form-control" asp-for="@khach.GioiTinh" asp-items="Html.GetEnumSelectList<Gender>()">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.SDT">SĐT</label>
                                                <input class="form-control" asp-for="@khach.SDT" placeholder="Số điện thoại">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@khach.QuocTich">Quốc Tịch</label>
                                                <input class="form-control" asp-for="@khach.QuocTich" placeholder="Quốc Tịch">
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-dark" type="button" data-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{ var prevDisabled = !Model.Khachs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Khachs.HasNextPage ? "disabled" : ""; }

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Khachs.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Khachs.PageIndex +1)">Sau</a>
